.container--page
{
    width: 80%;
    margin: auto;
}

.container---content-per-worktype,
.container--content-per-company,
.container--content-total
{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}