{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
    <h1 class="h1 text-center">Menu des entreprises</h1>
    <div class="d-flex justify-content-end">
        <a href="{{ path('company_new') }}" class="btn btn-primary mb-5">Ajouter une entreprise</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Type de travaux</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.title }}</td>
                <td>{{ company.workType }}</td>
                <td>
                    <a href="{{ path('company_edit', {'id': company.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune entreprise trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
