<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <nav class="navigation-bar">
        
        </nav>
        {% block body %}{% endblock %}
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
